<form [formGroup]="form" tuiForm="m" class="event-create">
    <label tuiLabel>
      Тип препарата
      <tui-textfield tuiChevron [stringify]="typeStringify"
      >
        <input
          tuiSelect
          [formControlName]="'typeDrug'"
        />
        <tui-data-list-wrapper
          *tuiDropdown
          [items]="typeDrugList"
        />
      </tui-textfield>
    </label>

    <tui-textfield [tuiTextfieldCleaner]="false">
      <label tuiLabel>Имя вакцины/таблетки</label>
      <input
        #input
        placeholder="Имя"
        tuiInput
        [formControlName]="'nameVaccineValue'"
      />

      @if (form.controls.nameVaccineValue.value) {
        <button
          tabindex="-1"
          tuiButtonX
          (click)="clear('nameVaccineValue')"
        >
          Clear
        </button>
      }
    </tui-textfield>

  <tui-textfield>
    <label tuiLabel> Выберите дату приема</label>
    <input
      tuiInputDate
      [formControlName]="'dateAdmissionValue'"
    />
    <tui-calendar *tuiDropdown />
  </tui-textfield>
  <label>
  <input
    size="s"
    tuiCheckbox
    type="checkbox"
    [formControlName]="'isShowControlHowMany'"/>
    Напомнить через
  </label>
  @if (form.controls.isShowControlHowMany.value){
    <tui-textfield [tuiTextfieldCleaner]="false">
      <label tuiLabel>Через сколько дней принимать</label>
      <input
        #input
        placeholder="Количество дней"
        tuiInput
        [formControlName]="'howManyTimesTake'"
      />

      @if (form.controls.howManyTimesTake.value) {
        <button
          tabindex="-1"
          tuiButtonX
          (click)="clear('howManyTimesTake')"
        >
          Clear
        </button>
      }
    </tui-textfield>
  }

  <button
    size="m"
    tuiButton
    type="button"
    (click)="submitForm()"
    [disabled]="!form.valid"
  >
    Подтвердить данные
  </button>

</form>
