<div>

  <body>
  <div class="cabinet__body-header">
    Vet Passport
  </div>
  <div>Последние события</div>
  <table tuiTable>
    <thead>
    <tr>
      <th tuiTh>Тип</th>
      <th tuiTh>Имя</th>
      <th tuiTh>Дата</th>
    </tr>
    </thead>
    <tbody tuiTbody>
      @for (item of getEventList(); track item.id){
        <tr>
          <td tuiTd>{{ item.drug.name}}</td>
          <td tuiTd>{{ item.nameVaccine }}</td>
          <td tuiTd>{{ item.dateAdmission }}</td>

        </tr>
      }
    </tbody>
  </table>
  </body>
</div>

